

<head>

  <style>

    @import url('https://fonts.googleapis.com/css?family=Merriweather');

    h1{
      font-family: 'Merriweather', serif;
      color: white;
    }
    #div1{
      font-family: 'Merriweather', serif;
      color: white;
      text-align: center;
    }
    a:link{
      color: grey;
    }


  </style>

  <br />

  <% provide(:title, "Log in") %>
  <center>
    <h1>Log in</h1>
  </center>

  <br />


</head>
<body bgcolor=black>
  <div class="row", id="div1">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, id:'email', class: 'form-control' %>

        <%= f.label :password %>
        <%= link_to "(Password dimenticata?)", new_password_reset_path %>
        <%= f.password_field :password, id:'password', class: 'form-control' %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>Remember me on this computer</span>
        <% end %>

        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>
      <br />
      <br />
      <p>Nuovo utente? <%= link_to "Registrati!", signup_path %></p>
    </div>
  </div>
</body>
