<li id="Servizi-<%= @servizi.id %>">
  <span class="nome"><%= @servizi.nome %></span>
  <span class="tipo"><%= @servizi.tipo %></span>
  <span class="content"><%= @servizi.descrizione %>
  <span class="image"> <%= image_tag @servizi.immagini.url if @servizi.immagini? %> </span>
  <span class="preferiti"> <%= link_to "Aggiungi ai preferiti", aggiungi_path(@servizi.id) %> </span>

  </span>
  <span class="timestamp">
    Creato: <%= time_ago_in_words(@servizi.created_at) %> ago.
    <% if currentuser==@servizi.user %>
      <%= link_to "Cancella", @servizi, :method => :delete,
                                       data: { confirm: "Sicuro?" } %>
    <% end %>
  </span>
  <span class="aggiungi">
  <%= link_to "Aggiungi preferiti", aggiungi_path(@servizi.id) %>
  </span>
  <div class="row-md-8" align="left">
    <% if @servizi.recensionis.any? %>
      <h3>Numero Recensioni: (<%= @servizi.recensionis.count %>)</h3>
      <ol class="recensioni">
         <%= render @servizi.recensionis %>
      </ol>
      <%= will_paginate @recensionis %>
    <% end %>
  </div>
  <section class="recensioni_form">
  <%= form_for(@recensioni) do |f| %>
  <%= f.label :titolo %>
  <%= f.text_field :titolo, class: 'form-control' %>
  <br>
  <br>
  <%= f.label :Voto %>
  <%= f.text_field :votoservizio, class: 'form-control' %>
  <br>
  <br>
  <%=f.hidden_field 'servizi_id', :value => @servizi.id %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Scrivi recensione" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>

      </section>
  <div class="row-md-8" align="right">
    <% if @servizi.domandes.any? %>
      <h3>Numero Domande: (<%= @servizi.domandes.count %>)</h3>
      <ol class="domande">
         <%= render @servizi.domandes %>
      </ol>
      <%= will_paginate @domandes %>
    <% end %>
  </div>
  <section class="domande_form">
  <%= form_for(@domande) do |f| %>
  <%=f.hidden_field 'servizio_id', :value => @servizi.id %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Scrivi domanda" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
  </section>
</li>
